#login-container{
    margin-top: 20%;
}
#login-container h2,
#login-container button,
#login-container form{
    width: 100%;
}
#login-container form.label{
    float: left;
}
#login-container Button{
    margin-top: 20px;
}
